astroid==2.4.1
beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
future==0.18.2
idna==2.9
ImageScraper==2.0.7
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.1
mccabe==0.6.1
pylint==2.5.2
pywin32==227
requests==2.23.0
setproctitle==1.1.10
SimplePool==0.1
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
urllib3==1.25.9
wrapt==1.12.1
